{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{card.img}}" alt="{{card.name}}" />
</div>
<div class="detail__name">
    {% if card.verified_card %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{card.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'card_update' card.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'card_delete' card.pk%}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <!-- <h4 class="title is-4">About</h4> -->
        <p>{{card.price}}</p>
    </div>
</div>

{% endblock %}